#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  cursor: pointer;
  background-color: rgb(250, 123, 44);
  color: white;
  border: 0;
  outline: 0;
  padding: 7px 20px;
  border-radius: 3px;
}
.remove-btn{
  background-color: red;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

h1{
  margin-bottom: 100px;
  color: rgba(0, 0, 0, 0.599);
  text-decoration: underline rgb(250, 123, 44);
}
.title{
  font-size: 19px;
  font-weight: bold;
}
